body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 70px;
  border-bottom: 1px solid gray;
}

.logo {
  font-size: 30px;
  letter-spacing: 0.2rem;
  color: rgb(75, 75, 75);
  margin: 0;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.7;
}

.share-button {
  text-decoration: none;
  border-radius: 8px;
  background-color: #ea4c89;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  border: none;
}

.share-button:hover {
  background-color: #ea4c89;
  opacity: 0.7;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  margin: 20px 80px;
}

.popular-filters {
  width: 150px;
  color: grey;
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.color-filters,
.time-filters {
  width: 300px;
}

.popular-filters:hover,
.color-filters:hover,
.time-filters:hover,
.popular-filters:focus,
.color-filters:focus,
.time-filters:focus,
input:hover {
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

select {
  cursor: pointer;
}

select.decorated option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

.custom-filters {
  background: none;
  width: 100px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  color: grey;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.custom-filters:hover {
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  color: rgb(110, 110, 110);
}

.open {
  display: flex;
}

.close {
  display: none;
}

.filter-form {
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
  padding: 0 15px;
  margin-bottom: 20px;
}

.filter-form input {
  width: 300px;
}

input[type="text"]:focus {
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 70px 0 70px;
  gap: 15px;
}

.view-svg {
  height: 20px;
  width: 20px;
  opacity: 0.7;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.like-view-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-parent-home {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 8px;
  border-radius: 15px;
}

.card-parent-home:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  width: 100%;
  /* height: 280px; */
  border-radius: 10px;
  border: 1px solid rgb(173, 173, 173);
  /* border: none; */
}

.image-container img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.footer {
  margin: 50px 70px 20px 70px;
  padding-top: 20px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  color: gray;
  opacity: 0.9;
}

::-webkit-scrollbar {
  color: transparent;
  width: 1px;
}

.edit-button {
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #ea4c89;
  border: none;
}

.save-button {
  position: absolute;
  right: 10%;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #ea4c89;
  border: none;
}

.edit-button:hover,
.save-button:hover {
  background-color: #ea4c89;
  opacity: 0.7;
}
/*Modal*/

.modal.show .modal-dialog {
  transform: none;
  float: right;
  margin-top: 0;
}

.fade {
  transition: unset;
}

.input-group > .form-control {
  width: 100%;
  gap: 20px;
}
